@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
    background-image: url('/public/images/img-filtros-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
  }